$BGGray: #F2F2F2;
$BGLightGray: #FAFAFA;
$BGDarkGray: #BBB;
$BGWhite: #FFFFFF;
$BGGrayFocus: #CEE0E6;
$BGBlueGray: #EEF0F6;
$BGFocusGray: #e6e6e6;
$FontBlue: #6da3bd;
$FontDarkBlue: #5d8fa8;
$FontGithubBlue: #4078c0;
$FontGray: #555;
$FontDarkGray: #535353;