doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,700italic,600italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    //- link(href='/styles/reset.min.css', rel='stylesheet', type='text/css')
    //- link(href='/styles/site.min.css', rel='stylesheet', type='text/css')
    // Place favicon.ico in the root directory
  body
    <!--[if lt IE 8]>
    p.browserupgrade
      | You are using an
      strong outdated
      |  browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
    <![endif]-->
    #root
    